body{
  font-family: "Montserrat", serif;
}

.MuiBadge-badge {
  background: #ff5252 !important;
}

.ReactCollapse--collapse{
  transition: height 500ms;
}

::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

.btn-blue{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-blue:hover{
  background: #3067e5 !important;
}