body{
  font-family: "Montserrat", serif;
  background: #f1f1f1;
}

.MuiBadge-badge {
  background: #ff5252 !important;
}

.ReactCollapse--collapse{
  transition: height 300ms;
}

::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

.btn{
  padding: 8px 20px !important;
}

.btn svg{
  font-size: 20px;
}

.btn-blue{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-blue:hover{
  background: #3067e5 !important;
}

.btn-sm{
  padding: 6px 20px !important;
  font-size: 13px !important;
}

.btn-lg{
  padding: 8px 20px !important;
  font-size: 16px !important;
}

th.MuiTableCell-root{
  @apply bg-[#f1f1f1] py-1
}

a.active button{
  background: #dcdcdc !important;
}

.MuiButton-icon svg{
  font-size: 27px !important;
}

.css-rizt0-MuiTypography-root{
  font-size:14px !important;
}

.MuiAppBar-colorPrimary{
  background: #e6e6e6 !important;
}

.MuiSelect-select{
  background: #fff !important;
}

.MuiDialog-paper{
  background: #f9fafb !important;
}


.otpBox input {
  border: 1px solid rgba(0,0,0,0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus{
  border: 1px solid rgba(0,0,0,0.7) !important;
}

.otpPage .container {
  height:90vh;
  display: flex;
}

.MuiTableBody-root tr:nth-child(even) {
  @apply bg-gray-50
}

button .MuiCircularProgress-root{
  width: 30px !important;
  height: 30px !important;
}

input[type='text']:disabled,input[type='email']:disabled  {
  pointer-events: none;
  background: #f1f1f1 !important;

}

.react-international-phone-input{
  width: 100% !important;
}

.react-international-phone-country-selector-button{
  width: 55px !important;
}

.react-international-phone-input-container{
  border: 1px solid rgba(0,0,0,0.1) !important;
}

.Mui-focused fieldset legend{
  display: none !important;
}

.zoomProductSliderThumbs.space .swiper-wrapper{
  padding-top: 38px !important;
}

.zoomProductSliderThumbs .swiper-slide{
  height: 80px !important;
  overflow: hidden;
  border-radius: 5px;
}

.zoomProductSliderThumbs .swiper-button-next{
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-next:after{
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev{
  top: 20px !important;
  left: 0 !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after{
  transform: rotate(90deg);
}

.swiper-slide .iiz{
  height: 400px !important;
  overflow: hidden !important;
}

.productContent .actions button{
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  color: rgba(0,0,0,0.7);
}

.swiper-button-prev, .swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
  transition:all 0.2s;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 22px !important;
  color: #000;
}

.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.smlBtn .swiper-button-prev:after,.smlBtn  .swiper-button-next:after{
  font-size: 18px !important;
  color: #000;
}